.container{
    width: 50%;
    position: absolute;
    top: 35%;
    left: 35%;
    transform: translate(-50%, -50%);
  }

.message{
    color: white;
}

.message_2{
    color: bisque;
}

button{
    width: 90px;
    cursor: pointer;
    background: #ff589e;
    font-size: 13px;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    color: white;
    letter-spacing: 0.25px;
    text-transform: uppercase;
}

button:hover{
  background:#8261ee;
  color: white;
  transition: all 0.3s ease 0s;
}